In [1]:
import sys, os
sys.path.append(os.path.abspath("../"))
import pandas as pd
from src.similarity_engine import SimilarityEngine

df = pd.read_csv("../data/processed/clean_cases.csv")

engine = SimilarityEngine(df)

case = df["dr_no"].iloc[0]
engine.get_similar_cases(case, top_k=5)

,dr_no,datetime,area_name,crm_cd,crm_cd_desc,weapon_desc,vict_age,vict_sex,mo_text,similarity
1004872,241510681,2024-04-19,N Hollywood,354,THEFT OF IDENTITY,NaN,37,M,theft of identity nan n hollywood,1.0
378669,211511126,2021-06-22,N Hollywood,354,THEFT OF IDENTITY,NaN,63,M,theft of identity nan n hollywood,1.0
45,220614831,2020-08-17,Hollywood,354,THEFT OF IDENTITY,NaN,28,M,theft of identity nan hollywood,1.0
248313,220619862,2021-07-20,Hollywood,354,THEFT OF IDENTITY,NaN,43,M,theft of identity nan hollywood,1.0
14847,201506137,2020-02-07,N Hollywood,354,THEFT OF IDENTITY,NaN,32,F,theft of identity nan n hollywood,1.0

In [2]:
engine.get_similar_cases(case, top_k=10)

,dr_no,datetime,area_name,crm_cd,crm_cd_desc,weapon_desc,vict_age,vict_sex,mo_text,similarity
1004872,241510681,2024-04-19,N Hollywood,354,THEFT OF IDENTITY,NaN,37,M,theft of identity nan n hollywood,1.0
378669,211511126,2021-06-22,N Hollywood,354,THEFT OF IDENTITY,NaN,63,M,theft of identity nan n hollywood,1.0
45,220614831,2020-08-17,Hollywood,354,THEFT OF IDENTITY,NaN,28,M,theft of identity nan hollywood,1.0
248313,220619862,2021-07-20,Hollywood,354,THEFT OF IDENTITY,NaN,43,M,theft of identity nan hollywood,1.0
14847,201506137,2020-02-07,N Hollywood,354,THEFT OF IDENTITY,NaN,32,F,theft of identity nan n hollywood,1.0
14901,211504732,2020-11-16,N Hollywood,354,THEFT OF IDENTITY,NaN,51,M,theft of identity nan n hollywood,1.0
14891,240605854,2020-12-20,Hollywood,354,THEFT OF IDENTITY,NaN,26,F,theft of identity nan hollywood,1.0
587896,221508536,2022-04-10,N Hollywood,354,THEFT OF IDENTITY,NaN,19,M,theft of identity nan n hollywood,1.0
930358,240606096,2024-02-01,Hollywood,354,THEFT OF IDENTITY,NaN,44,M,theft of identity nan hollywood,1.0
681519,230614877,2023-09-02,Hollywood,354,THEFT OF IDENTITY,NaN,40,F,theft of identity nan hollywood,1.0