In [1]:
import sys, os
sys.path.append(os.path.abspath("../"))

import pandas as pd

from src.similarity_engine import SimilarityEngine
from src.suspect_ranker import SuspectRanker

df = pd.read_csv("../data/processed/clean_cases.csv")

engine = SimilarityEngine(df)
ranker = SuspectRanker(df)

case = df["dr_no"].iloc[0]

# get similar cases
similar = engine.get_similar_cases(case, top_k=30)

# ranking
ranked = ranker.rank_suspects(case, similar)
ranked.head(10)

,dr_no,datetime,area_name,crm_cd,crm_cd_desc,weapon_desc,vict_age,vict_sex,mo_text,similarity,score
55883,211505230,2020-11-01,N Hollywood,354,THEFT OF IDENTITY,NaN,55,M,theft of identity nan n hollywood,1.0,0.896739
14901,211504732,2020-11-16,N Hollywood,354,THEFT OF IDENTITY,NaN,51,M,theft of identity nan n hollywood,1.0,0.895129
14936,211504924,2020-10-26,N Hollywood,354,THEFT OF IDENTITY,NaN,34,M,theft of identity nan n hollywood,1.0,0.893532
55960,211505227,2020-12-18,N Hollywood,354,THEFT OF IDENTITY,NaN,24,F,theft of identity nan n hollywood,1.0,0.878750
55882,201515255,2020-09-15,N Hollywood,354,THEFT OF IDENTITY,NaN,29,F,theft of identity nan n hollywood,1.0,0.872969
388688,211510286,2021-01-04,N Hollywood,354,THEFT OF IDENTITY,NaN,44,F,theft of identity nan n hollywood,1.0,0.870616
378669,211511126,2021-06-22,N Hollywood,354,THEFT OF IDENTITY,NaN,63,M,theft of identity nan n hollywood,1.0,0.807383
248476,211512464,2021-07-08,N Hollywood,354,THEFT OF IDENTITY,NaN,23,F,theft of identity nan n hollywood,1.0,0.802777
307343,221511667,2021-07-20,N Hollywood,354,THEFT OF IDENTITY,NaN,40,M,theft of identity nan n hollywood,1.0,0.799453
14847,201506137,2020-02-07,N Hollywood,354,THEFT OF IDENTITY,NaN,32,F,theft of identity nan n hollywood,1.0,0.794409